section.feedback
	.container
		.row
			.col
				.feedback-wrap
					.feedback-title
						h2 Stay with us
					.feedback-subtext We ensure quality & support
					.contact-form
						form.wrap-form
							input(type="text" placeholder="Full Name").contact-form__item
							br
							input(type="email" placeholder="Email Adress").contact-form__item
							br
							textarea(placeholder="Message").contact-form__item
							br
							input(type="checkbox").contact-form__item-check
							span   Subscribe newslatter
							input(type="submit" value="Send").contact-form__btn
							
							

						
					
						


