footer
	.container
		.row
			.col-12
				.wrap-footer
					.footer-items__icon
						a(href="#")
							img(src="img/footer/facebook.jpg")
					.footer-items__icon
						a(href="#")
							img(src="img/footer/twitter.jpg")
					.footer-items__icon
						a(href="#")
							img(src="img/footer/google_plus.jpg")
					.footer-items__icon
						a(href="#")
							img(src="img/footer/linked.jpg")
						