header
	.top-line
		.container
			.row
				.col
					.logo
						a(href="#")
							img(src="img/header/logo.png")
	.header-container
		.container
			.row
				.col-md-8.offset-md-2
					.header-container-wrap
						.header__title
							h1 strict
						.header__subtext STRICT is a responsive theme with a a clean and minimal look
						.header-btn
							a(href="#").header__button.btn Call to action
						.header__btn-icon
							a(href="#")
								i.fa.fa-chevron-down


					


