section.simple
	.simple-container-top
		.container
			.row
				.col
					.simple__title
						h2 Simple & pure design.
					.simple__discription Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!". There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown around quite a bit in the web design community. It can be easy to spot a good example of clean design.
	.simple-container-bottom
		.container
			.row
				.col-md-4
					.simple__item
						.top-icon
							img(src="img/simple/phone-icon.png")
						.simple-item__title Optimized for all devices
						.simple-item__subtext STRICT has been designed to be fully responsive on all devices
				.col-md-4
					.simple__item
						.top-icon
							img(src="img/simple/air-icon.png")
						.simple-item__title Clean & Minimal Design
						.simple-item__subtext This multipurpose theme is especially created to be used for different projects.
	
				.col-md-4
						.simple__item
						.top-icon
							img(src="img/simple/rypor-icon.png")
						.simple-item__title Font Awesome Icon
						.simple-item__subtext This multipurpose theme is especially created to be used for different projects.
	

	



