section.work
	.container
		.row
			.col-12
				.work-wrap
					.work-title
						h2 Showcase your work like a pro
					.work-subtext Contact me if you like my work
			.col-12
				.work-photo
					.container
						.row
							.col-md-4
								.work-photo__item
									a(href="#")
										img(src="img/work/img-1.jpg")
							.col-md-4
								.work-photo__item
									a(href="#")
										img(src="img/work/img-2.jpg")
							.col-md-4
								.work-photo__item
									a(href="#")
										img(src="img/work/img-3.jpg")
							.col-md-4
								.work-photo__item
									a(href="#")
										img(src="img/work/img-4.jpg")
							.col-md-4
								.work-photo__item
									a(href="#")
										img(src="img/work/img-5.jpg")
							.col-md-4
								.work-photo__item
									a(href="#")
										img(src="img/work/img-6.jpg")
							

		
									
										
									



