.feedback{
	 background-image: linear-gradient(to top, rgba(45, 57, 80, 0.80)), url("../img/feedback/feedback-bgr.jpg");
	 background-size: cover;
	 padding-top: 65px;
	 padding-bottom: 70px;
}

.feedback-wrap{
	text-align: center;
}
.feedback-title{
	h2{
		font-size: 40px;
		color: #fff;
		font-weight: normal;
		margin: 0 0 20px;
	}
}
.feedback-subtext{
	font-size: 15px;
	line-height: 23px;
	color: #999999;
}

.contact-form__item
{
	
	width: 100%;
	background-color: transparent;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 23px 0 23px 26px;
	border:2px solid #999999;
	border-radius: 5px;

	&:focus{
		border:2px solid #fff;
		outline: none;
		color:#fff;
	}

}
.contact-form__item:focus-placeholder{
	color: #fff !important ;
}
.wrap-form{
	width:60%;
	display: inline-block;
	text-align: left;
	margin-top:30px;
	span{
		color: #fff;
		margin-left: 10px;
		font-size: 15px;
	}
}
textarea.contact-form__item{
	min-height: 150px;
}
input.contact-form__btn {
 
    float: right;
    padding: 15px 50px;
    background-color: #15A4FA;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}