@import '_media';
@import '_variables';
@import "_header";
@import '_simple';
@import '_work';
@import '_feedback';
@import "_footer";


body{
font-family: arial;
font-size: 14px;
min-width: 320px;
}
.btn{
	text-decoration: none;
}
header, .simple{
	display: block !important;
	
}

